clase_3/jupyter_notebooks/neural_networks/.ipynb_checkpoints/
clase_3/wandb
clase_4/ejercicios/wandb
clase_4/ejercicios/best_model.pth
clase_5/jupyter_notebooks/wandb
clase_5/data
clase_6/jupyter_notebooks/wandb
clase_6/jupyter_notebooks/RNN_lorentz_wandb.ipynb
clase_7/jupyter_notebooks/local
clase_7/jupyter_notebooks/data
clase_7/jupyter_notebooks/wandb
clase_8/jupyter_notebooks/local
clase_8/jupyter_notebooks/data
clase_8/jupyter_notebooks/README_experimentos_GAN.md
.venv
__pycache__/
*.py
**/online/
