clase_3/jupyter_notebooks/neural_networks/.ipynb_checkpoints/
clase_3/wandb
clase_4/ejercicios/wandb
clase_4/ejercicios/best_model.pth
clase_5/jupyter_notebooks/wandb
clase_5/jupyter_notebooks/README_experimentos_CNN.md
clase_6/jupyter_notebooks/wandb
clase_6/jupyter_notebooks/RNN_lorentz_wandb.ipynb
clase_7/jupyter_notebooks/wandb
clase_7/experimentos/
clase_8/jupyter_notebooks/*_GAN.md
clase_8/jupyter_notebooks/README_experimentos_transfer_learning.md
clase_8/jupyter_notebooks/script_tl_exp_*.py
clase_8/jupyter_notebooks/transfer_learning_utils.py
clase_8/jupyter_notebooks/transfer_learning_avanzado.ipynb
**/data/
**/local/
.venv
__pycache__/
*.py
**/online/
