clase_3/jupyter_notebooks/neural_networks/.ipynb_checkpoints/
clase_3/wandb
clase_4/ejercicios/wandb
clase_4/ejercicios/best_model.pth
clase_5/jupyter_notebooks/wandb
clase_5/data
clase_6/jupyter_notebooks/wandb
clase_7/jupyter_notebooks/local
clase_7/jupyter_notebooks/data
clase_7/jupyter_notebooks/wandb
.venv